@inherits LayoutComponentBase
<!-- used for ThemesTest -->

<div class="app-container">
    <div class="app-layout">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
