@inherits LayoutComponentBase

<!-- temporary until theme detection is written -->
<HeadContent>
<script>
setInterval(() => { document.documentElement.setAttribute("class", "theme-light"); }, 500);
</script>
</HeadContent>

<header class="site-header">
    <p>Website header/logo</p>
</header>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
