@page "/following"
@using Microsoft.EntityFrameworkCore
@inject Data.AppDbContext DbContext
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Following</PageTitle>

<h1 class="center-text" style="padding: 10px 0;">People You Follow</h1>
<div class="flex-horizontal fill-width">
    <input type="text" placeholder="Search people..." class="input-single-line fill-width grow" />
    <button class="button-suggested-action">Search</button>
</div>

<div class="subtle-container">
    <div class="flex-horizontal">
        <div class="flex-vertical center">
            <div class="user-avatar">
                <img src="https://via.placeholder.com/100" alt="User" />
            </div>
        </div>
        <div class="flex-vertical center grow">
            <h3>User Name</h3>
            <p>@("@")johndoe</p>
        </div>
        <div class="flex-vertical center">
            <button class="button-suggested-action" style="height: fit-content;">Following</button>
        </div>
    </div>
</div>