@page "/following"
@using Microsoft.EntityFrameworkCore
@inject Data.AppDbContext DbContext
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Following</PageTitle>

<h1>People You Follow</h1>
<div class="flex-horizontal pad">
    <input type="text" placeholder="Search people..." class="input-single-line fill-width grow" />
    <button class="button-suggested-action">Search</button>
</div>

<div class="subtle-container">
    <div class="flex-horizontal">
        <div class="user-avatar">
            <img src="https://via.placeholder.com/100" alt="User" />
        </div>
        <div class="flex-vertical center grow">
            <p>User Name</p>
            <p class="font-username">@("@")johndoe</p>
        </div>
        <div class="flex-vertical center">
            <button class="button-suggested-action">Follow</button>
            @* <button class="button-destructive-action">Unfollow</button> *@
        </div>
    </div>
</div>
<!-- Add more user cards as needed -->