@page "/settings"
@using Microsoft.EntityFrameworkCore
@inject Data.AppDbContext DbContext
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Settings</PageTitle>

<div class="subtle-container">
    <h1>Settings</h1>
    <p>TODO</p>
</div>