@page "/themestest"
@layout Layout.EmptyLayout
@rendermode InteractiveServer

<PageTitle>Themes Test</PageTitle>

<h1>Themes Test</h1>
<div style="padding-bottom: 40px"></div>

<p>Light theme</p>
<div class="theme-light"><ThemeTest /></div>
<div style="padding-bottom: 40px"></div>

<p>Dark theme</p>
<div class="theme-dark"><ThemeTest /></div>
<div style="padding-bottom: 40px"></div>

<p>High contrast light theme</p>
<div class="theme-high-contrast-light high-contrast"><ThemeTest /></div>
<div style="padding-bottom: 40px"></div>

<p>High contrast dark theme</p>
<div class="theme-high-contrast-dark high-contrast"><ThemeTest /></div>
<div style="padding-bottom: 40px"></div>